<div>
  <table [class]="tableClass">
    <tr><td style="{{setStyle(colors.red)}}"></td></tr>
    <tr><td style="{{setStyle(colors.orange)}}"></td></tr>
    <tr><td style="{{setStyle(colors.yellow)}}"></td></tr>
    <tr><td [style]="setStyle(colors.green)" ></td></tr>
    <tr><td [style]="setStyle(colors.blue)" ></td></tr>
    <tr><td [style]="setStyle(colors.indigo)" ></td></tr>
    <tr><td [style]="setStyle(colors.violet)" ></td></tr>
  </table>
  <button (click)="changeClass()">Нажми меня</button>
</div>

